.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .moviesGrid {
    grid-template-columns: 100vh;
  }
}
