.searchContainer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.searchBox {
  position: relative;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;

  border: none;
  background: none;
}

.searchInput {
  font-size: 1.2rem;
  height: 1.5rem;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2.75rem 0.5rem 1rem;
}

.searchInput:focus,
.searchButton:focus {
  outline: none;
  box-shadow: 0 0 0.05em #fff, 0 0 0.2em #4cfe05, 0 0 0.3em #05feab;
}
